# Python Virtual Environment
venv/
env/
.env

# Data and Models
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
models/*
!models/.gitkeep

# Node/React
node_modules/
dist/
.DS_Store

# Jupyter
.ipynb_checkpoints
